*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: 100%;
  background: $grey-color;
  font-family: $brand-font;
  font-size: 13px;
  line-height: 1.7;
}

.sidebar{
  font-family: $main-family;
}
