.main-links-table{
  text-align: center;
  background-color: $white-color;
}

.table-element{
  border-bottom: 1px solid $border-color;
  height: 60px;
  width: 800px;
  margin: 0 auto;
  text-decoration: none;
  padding: 20px 0;
  font-size: 17px;
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;

  &:hover{
    background-color: $grey-color;
    .link-icons{
      visibility: visible;
    }
  }

  .title{
    width: auto;
    font-weight: bold;
    text-align: left;
  }
  .element-url{
    text-decoration: none;
    width: auto;
    color: $profile-color;


    &:hover{
      color: $orange-color;
    }
  }
}

.link-icons{
  display: inline-block;
  width: auto;
  text-align: right;
  visibility: hidden;
  a{
    text-decoration: none;
    margin: 0 10px;
    &:first-child{
      filter: invert(50%) sepia(23%) saturate(5197%) hue-rotate(358deg) brightness(100%) contrast(107%);
    }
  }
}
