main{
  margin: 80px 20px 0 210px;

  .container{
    margin: 0 auto;
    background-color: $white-color;
    color: $paragraph-color;
    width: 100%;
  }
}

.main_chart{
  box-shadow: 1px 1px 5px 1px $next-grey-color;
  margin: 20px 0;
}

.links{
  box-shadow: 1px 1px 5px 1px $next-grey-color;
  margin: 20px 0;
}

@media (max-width: 767px){
  main{
    margin: 80px 20px 0 90px;
  }
}
